.characteristics {
  padding-top: 94px;
  padding-bottom: 0;

  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}

.characteristics__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 468px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    width: 100%;
  }
}

.characteristics__item {
  max-width: 270px;
  flex-basis: 100%;

  @media screen and (min-width: 468px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
    width: 100%;
  }
}

.characteristics__subtitle {
  @include font($fs: 14px, $fw: 700, $lh: 1.14, $ls: 0.03em);
  font-family: "Roboto";
  text-transform: uppercase;
  color: var(--primary-header-color);
  margin-bottom: 10px;
}

.characteristics__text {
  @include font($lh: 1.71);
  color: var(--secondary-color);
}

.characteristics__icon {
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

